
body {
    border: 0;
    background-color: black;
    color: white;
}
.link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-style: oblique;
    text-transform: uppercase;
    color: rgba(128, 128, 128, 0.0);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.0);
    height: 100px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 47%;
    left: 0;
    text-align: center;
    width: 100%;
    transition: all 0.7s;
    z-index: -1;
    text-decoration: none;
}

.link-dot {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-style: oblique;
    color: rgba(128, 128, 128, 1.0);
    text-shadow: 2px 2px rgba(0, 0, 0, 1.0);
    transition: all 1s;
    width: 3%;
    float: left;
}

#link-dots {
    position: absolute;
    top: 55%;
    left: 41%;
    width: 100%;
    text-align: center;
    float: center;
}

#title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-style: oblique;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0, 0, 0, 1.0);
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 1s;
}

#link-0 {
    color: rgba(128, 128, 128, 1.0);
    text-shadow: 2px 2px rgba(0, 0, 0, 1.0);
    z-index: 999;
}

#link-dot-0 {
    color: rgba(66, 66, 66, 1.0);
}

#content-box {
    position: absolute;
    top: 0%;
    left: 25%;
    width: 50%;
    height: 100%;
    transition: all 1s;
    margin: 0px;
    padding: 0px;
    float: none;
    text-align: center
}

canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 50%;
    display: block;
    z-index: 1;
}
#content {
    display: none;
    z-index: 2;
    position: absolute;
    top: 10%;
    left: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em 3em 1em 2em;
    color: black;
    width: 25%;
}
#overlay {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    z-index: 9999;
}

@media (max-width: 850px) {
    .link {
        font-size: 3.5rem;
    }
}

@media (max-width: 500px) {
    #content-box {
        left: 0%;
        width: 100%;
    }
    .link {
        font-size: 3rem;
    }
    #title {
        font-size: 1.25rem;
    }
}

@media (max-width: 350px) {
    #content-box {
        left: 0%;
        width: 100%;
    }
    .link {
        font-size: 2.5rem;
    }
    #title {
        font-size: 1rem;
    }
}